<div class="col-10 offset-1">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="http://github.com/AustinDodd">Austin</a>, an up and coming web developer who is on a mission to learn the skills and knowledge to turn his dreams into reality.
  </p>
  <br />


  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'Austin.jpg', class: 'img-fluid fixImage' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Austin Dodd</h2>
      <br />
      <p>
        Austin Dodd is a learning and aspiring web/software developer/engineer. Previously, Austin graduated with a Bachelor's Degree in Political Science with a minor in History and currently he works at a law firm handling some of the legal work as well as helping with the marketing. In his spare time, he enjoys reading, writing, music, and martial arts.
      <br />
      <br />
        If you want to learn how to code, start <a href="https://online.bootcamp.com">here</a>
      </p>
    </div>
  </div>
  <br class="clear" />

</div>

<br class="clear" />
<br />
<br />
<br />
<br />