// Place all the styles related to the quotes controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.about {
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
}

h1 {
  font-family: 'Patua One', cursive;
  font-style: bold;
  font-size: 55px;
}

h2 {
  font-family: 'nobilemedium_italic', sans-serif;
  font-style: oblique;
  font-size: 33px;
}